openapi: 3.1.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference
    for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
- url: https://api.openai.com/v1
paths:
  /responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      summary: Create a model response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
      x-oaiMeta:
        name: Create a model response
        group: responses
        returns: 'Returns a [Response](https://platform.openai.com/docs/api-reference/responses/object)
          object.

          '
        path: create
        examples:
        - title: Text input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"input\": \"Tell me\
              \ a three sentence bedtime story about a unicorn.\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    input: \"Tell me a three sentence bedtime story about a unicorn.\"\
              \n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient\
              \ client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nOpenAIResponse response = client.CreateResponse(\"\
              Tell me a three sentence bedtime story about a unicorn.\");\n\nConsole.WriteLine(response.GetOutputText());\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ccd2bed1ec8190b14f964abc0542670bb6a6b452d3795b\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741476542,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"output\": [\n    {\n      \"type\": \"\
            message\",\n      \"id\": \"msg_67ccd2bf17f0819081ff3bb2cf6508e60bb6a6b452d3795b\"\
            ,\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n\
            \      \"content\": [\n        {\n          \"type\": \"output_text\"\
            ,\n          \"text\": \"In a peaceful grove beneath a silver moon, a\
            \ unicorn named Lumina discovered a hidden pool that reflected the stars.\
            \ As she dipped her horn into the water, the pool began to shimmer, revealing\
            \ a pathway to a magical realm of endless night skies. Filled with wonder,\
            \ Lumina whispered a wish for all who dream to find their own hidden magic,\
            \ and as she glanced back, her hoofprints sparkled like stardust.\",\n\
            \          \"annotations\": []\n        }\n      ]\n    }\n  ],\n  \"\
            parallel_tool_calls\": true,\n  \"previous_response_id\": null,\n  \"\
            reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n  },\n \
            \ \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n    \"format\"\
            : {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\"\
            ,\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\"\
            ,\n  \"usage\": {\n    \"input_tokens\": 36,\n    \"input_tokens_details\"\
            : {\n      \"cached_tokens\": 0\n    },\n    \"output_tokens\": 87,\n\
            \    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n   \
            \ },\n    \"total_tokens\": 123\n  },\n  \"user\": null,\n  \"metadata\"\
            : {}\n}\n"
        - title: Image input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"input\": [\n     \
              \ {\n        \"role\": \"user\",\n        \"content\": [\n         \
              \ {\"type\": \"input_text\", \"text\": \"what is in this image?\"},\n\
              \          {\n            \"type\": \"input_image\",\n            \"\
              image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              \n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    input: [\n        {\n            role: \"user\",\n          \
              \  content: [\n                { type: \"input_text\", text: \"what\
              \ is in this image?\" },\n                {\n                    type:\
              \ \"input_image\",\n                    image_url:\n               \
              \         \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ,\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Responses;\n\
              \nOpenAIResponseClient client = new(\n    model: \"gpt-4.1\",\n    apiKey:\
              \ Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nList<ResponseItem>\
              \ inputItems =\n[\n    ResponseItem.CreateUserMessageItem(\n       \
              \ [\n            ResponseContentPart.CreateInputTextPart(\"What is in\
              \ this image?\"),\n            ResponseContentPart.CreateInputImagePart(new\
              \ Uri(\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ))\n        ]\n    )\n];\n\nOpenAIResponse response = client.CreateResponse(inputItems);\n\
              \nConsole.WriteLine(response.GetOutputText());\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ccd3a9da748190baa7f1570fe91ac604becb25c45c1d41\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741476777,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"output\": [\n    {\n      \"type\": \"\
            message\",\n      \"id\": \"msg_67ccd3acc8d48190a77525dc6de64b4104becb25c45c1d41\"\
            ,\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n\
            \      \"content\": [\n        {\n          \"type\": \"output_text\"\
            ,\n          \"text\": \"The image depicts a scenic landscape with a wooden\
            \ boardwalk or pathway leading through lush, green grass under a blue\
            \ sky with some clouds. The setting suggests a peaceful natural area,\
            \ possibly a park or nature reserve. There are trees and shrubs in the\
            \ background.\",\n          \"annotations\": []\n        }\n      ]\n\
            \    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\"\
            : null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n\
            \  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n  \
            \  \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\"\
            : \"auto\",\n  \"tools\": [],\n  \"top_p\": 1.0,\n  \"truncation\": \"\
            disabled\",\n  \"usage\": {\n    \"input_tokens\": 328,\n    \"input_tokens_details\"\
            : {\n      \"cached_tokens\": 0\n    },\n    \"output_tokens\": 52,\n\
            \    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n   \
            \ },\n    \"total_tokens\": 380\n  },\n  \"user\": null,\n  \"metadata\"\
            : {}\n}\n"
        - title: File input
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"input\": [\n     \
              \ {\n        \"role\": \"user\",\n        \"content\": [\n         \
              \ {\"type\": \"input_text\", \"text\": \"what is in this file?\"},\n\
              \          {\n            \"type\": \"input_file\",\n            \"\
              file_url\": \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\"\
              \n          }\n        ]\n      }\n    ]\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    input: [\n        {\n            role: \"user\",\n          \
              \  content: [\n                { type: \"input_text\", text: \"what\
              \ is in this file?\" },\n                {\n                    type:\
              \ \"input_file\",\n                    file_url: \"https://www.berkshirehathaway.com/letters/2024ltr.pdf\"\
              ,\n                },\n            ],\n        },\n    ],\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_686eef60237881a2bd1180bb8b13de430e34c516d176ff86\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1752100704,\n  \"status\"\
            : \"completed\",\n  \"background\": false,\n  \"error\": null,\n  \"incomplete_details\"\
            : null,\n  \"instructions\": null,\n  \"max_output_tokens\": null,\n \
            \ \"max_tool_calls\": null,\n  \"model\": \"gpt-4.1-2025-04-14\",\n  \"\
            output\": [\n    {\n      \"id\": \"msg_686eef60d3e081a29283bdcbc4322fd90e34c516d176ff86\"\
            ,\n      \"type\": \"message\",\n      \"status\": \"completed\",\n  \
            \    \"content\": [\n        {\n          \"type\": \"output_text\",\n\
            \          \"annotations\": [],\n          \"logprobs\": [],\n       \
            \   \"text\": \"The file seems to contain excerpts from a letter to the\
            \ shareholders of Berkshire Hathaway Inc., likely written by Warren Buffett.\
            \ It covers several topics:\\n\\n1. **Communication Philosophy**: Buffett\
            \ emphasizes the importance of transparency and candidness in reporting\
            \ mistakes and successes to shareholders.\\n\\n2. **Mistakes and Learnings**:\
            \ The letter acknowledges past mistakes in business assessments and management\
            \ hires, highlighting the importance of correcting errors promptly.\\\
            n\\n3. **CEO Succession**: Mention of Greg Abel stepping in as the new\
            \ CEO and continuing the tradition of honest communication.\\n\\n4. **Pete\
            \ Liegl Story**: A detailed account of acquiring Forest River and the\
            \ relationship with its founder, highlighting trust and effective business\
            \ decisions.\\n\\n5. **2024 Performance**: Overview of business performance,\
            \ particularly in insurance and investment activities, with a focus on\
            \ GEICO's improvement.\\n\\n6. **Tax Contributions**: Discussion of significant\
            \ tax payments to the U.S. Treasury, credited to shareholders' reinvestments.\\\
            n\\n7. **Investment Strategy**: A breakdown of Berkshire\\u2019s investments\
            \ in both controlled subsidiaries and marketable equities, along with\
            \ a focus on long-term holding strategies.\\n\\n8. **American Capitalism**:\
            \ Reflections on America\\u2019s economic development and Berkshire\\\
            u2019s role within it.\\n\\n9. **Property-Casualty Insurance**: Insights\
            \ into the P/C insurance business model and its challenges and benefits.\\\
            n\\n10. **Japanese Investments**: Information about Berkshire\\u2019s\
            \ investments in Japanese companies and future plans.\\n\\n11. **Annual\
            \ Meeting**: Details about the upcoming annual gathering in Omaha, including\
            \ schedule changes and new book releases.\\n\\n12. **Personal Anecdotes**:\
            \ Light-hearted stories about family and interactions, conveying Buffett's\
            \ personable approach.\\n\\n13. **Financial Performance Data**: Tables\
            \ comparing Berkshire\\u2019s annual performance to the S&P 500, showing\
            \ impressive long-term gains.\\n\\nOverall, the letter reinforces Berkshire\
            \ Hathaway's commitment to transparency, investment in both its businesses\
            \ and the wider economy, and emphasizes strong leadership and prudent\
            \ financial management.\"\n        }\n      ],\n      \"role\": \"assistant\"\
            \n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\"\
            : null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n\
            \  },\n  \"service_tier\": \"default\",\n  \"store\": true,\n  \"temperature\"\
            : 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n \
            \   }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_logprobs\"\
            : 0,\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\"\
            : {\n    \"input_tokens\": 8438,\n    \"input_tokens_details\": {\n  \
            \    \"cached_tokens\": 0\n    },\n    \"output_tokens\": 398,\n    \"\
            output_tokens_details\": {\n      \"reasoning_tokens\": 0\n    },\n  \
            \  \"total_tokens\": 8836\n  },\n  \"user\": null,\n  \"metadata\": {}\n\
            }\n"
        - title: Web search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"tools\": [{ \"type\"\
              : \"web_search_preview\" }],\n    \"input\": \"What was a positive news\
              \ story from today?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    tools: [{ type: \"web_search_preview\" }],\n    input: \"What\
              \ was a positive news story from today?\",\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient\
              \ client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What was a positive\
              \ news story from today?\";\n\nResponseCreationOptions options = new()\n\
              {\n    Tools =\n    {\n        ResponseTool.CreateWebSearchTool()\n\
              \    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText,\
              \ options);\n\nConsole.WriteLine(response.GetOutputText());\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ccf18ef5fc8190b16dbee19bc54e5f087bb177ab789d5c\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741484430,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"output\": [\n    {\n      \"type\": \"\
            web_search_call\",\n      \"id\": \"ws_67ccf18f64008190a39b619f4c8455ef087bb177ab789d5c\"\
            ,\n      \"status\": \"completed\"\n    },\n    {\n      \"type\": \"\
            message\",\n      \"id\": \"msg_67ccf190ca3881909d433c50b1f6357e087bb177ab789d5c\"\
            ,\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n\
            \      \"content\": [\n        {\n          \"type\": \"output_text\"\
            ,\n          \"text\": \"As of today, March 9, 2025, one notable positive\
            \ news story...\",\n          \"annotations\": [\n            {\n    \
            \          \"type\": \"url_citation\",\n              \"start_index\"\
            : 442,\n              \"end_index\": 557,\n              \"url\": \"https://.../?utm_source=chatgpt.com\"\
            ,\n              \"title\": \"...\"\n            },\n            {\n \
            \             \"type\": \"url_citation\",\n              \"start_index\"\
            : 962,\n              \"end_index\": 1077,\n              \"url\": \"\
            https://.../?utm_source=chatgpt.com\",\n              \"title\": \"...\"\
            \n            },\n            {\n              \"type\": \"url_citation\"\
            ,\n              \"start_index\": 1336,\n              \"end_index\":\
            \ 1451,\n              \"url\": \"https://.../?utm_source=chatgpt.com\"\
            ,\n              \"title\": \"...\"\n            }\n          ]\n    \
            \    }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\"\
            : null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n\
            \  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n  \
            \  \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\"\
            : \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"web_search_preview\"\
            ,\n      \"domains\": [],\n      \"search_context_size\": \"medium\",\n\
            \      \"user_location\": {\n        \"type\": \"approximate\",\n    \
            \    \"city\": null,\n        \"country\": \"US\",\n        \"region\"\
            : null,\n        \"timezone\": null\n      }\n    }\n  ],\n  \"top_p\"\
            : 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\"\
            : 328,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0\n\
            \    },\n    \"output_tokens\": 356,\n    \"output_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 684\n  },\n\
            \  \"user\": null,\n  \"metadata\": {}\n}\n"
        - title: File search
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"tools\": [{\n    \
              \  \"type\": \"file_search\",\n      \"vector_store_ids\": [\"vs_1234567890\"\
              ],\n      \"max_num_results\": 20\n    }],\n    \"input\": \"What are\
              \ the attributes of an ancient brown dragon?\"\n  }'\n"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    tools: [{\n      type: \"file_search\",\n      vector_store_ids:\
              \ [\"vs_1234567890\"],\n      max_num_results: 20\n    }],\n    input:\
              \ \"What are the attributes of an ancient brown dragon?\",\n});\n\n\
              console.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            csharp: "using System;\n\nusing OpenAI.Responses;\n\nOpenAIResponseClient\
              \ client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nstring userInputText = \"What are the attributes\
              \ of an ancient brown dragon?\";\n\nResponseCreationOptions options\
              \ = new()\n{\n    Tools =\n    {\n        ResponseTool.CreateFileSearchTool(\n\
              \            vectorStoreIds: [\"vs_1234567890\"],\n            maxResultCount:\
              \ 20\n        )\n    },\n};\n\nOpenAIResponse response = client.CreateResponse(userInputText,\
              \ options);\n\nConsole.WriteLine(response.GetOutputText());\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ccf4c55fc48190b71bd0463ad3306d09504fb6872380d7\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741485253,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"output\": [\n    {\n      \"type\": \"\
            file_search_call\",\n      \"id\": \"fs_67ccf4c63cd08190887ef6464ba5681609504fb6872380d7\"\
            ,\n      \"status\": \"completed\",\n      \"queries\": [\n        \"\
            attributes of an ancient brown dragon\"\n      ],\n      \"results\":\
            \ null\n    },\n    {\n      \"type\": \"message\",\n      \"id\": \"\
            msg_67ccf4c93e5c81909d595b369351a9d309504fb6872380d7\",\n      \"status\"\
            : \"completed\",\n      \"role\": \"assistant\",\n      \"content\": [\n\
            \        {\n          \"type\": \"output_text\",\n          \"text\":\
            \ \"The attributes of an ancient brown dragon include...\",\n        \
            \  \"annotations\": [\n            {\n              \"type\": \"file_citation\"\
            ,\n              \"index\": 320,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 576,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 815,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 1030,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 1156,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            },\n     \
            \       {\n              \"type\": \"file_citation\",\n              \"\
            index\": 1225,\n              \"file_id\": \"file-4wDz5b167pAf72nx1h9eiN\"\
            ,\n              \"filename\": \"dragons.pdf\"\n            }\n      \
            \    ]\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n\
            \  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\"\
            : null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\"\
            : 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n \
            \   }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [\n    {\n   \
            \   \"type\": \"file_search\",\n      \"filters\": null,\n      \"max_num_results\"\
            : 20,\n      \"ranking_options\": {\n        \"ranker\": \"auto\",\n \
            \       \"score_threshold\": 0.0\n      },\n      \"vector_store_ids\"\
            : [\n        \"vs_1234567890\"\n      ]\n    }\n  ],\n  \"top_p\": 1.0,\n\
            \  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\"\
            : 18307,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0\n\
            \    },\n    \"output_tokens\": 348,\n    \"output_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 18655\n\
            \  },\n  \"user\": null,\n  \"metadata\": {}\n}      \n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"instructions\": \"\
              You are a helpful assistant.\",\n    \"input\": \"Hello!\",\n    \"\
              stream\": true\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"gpt-4.1\"\
              ,\n    instructions: \"You are a helpful assistant.\",\n    input: \"\
              Hello!\",\n    stream: true,\n});\n\nfor await (const event of response)\
              \ {\n    console.log(event);\n}\n"
            csharp: "using System;\nusing System.ClientModel;\nusing System.Threading.Tasks;\n\
              \nusing OpenAI.Responses;\n\nOpenAIResponseClient client = new(\n  \
              \  model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nstring userInputText = \"Hello!\";\n\nResponseCreationOptions\
              \ options = new()\n{\n    Instructions = \"You are a helpful assistant.\"\
              ,\n};\n\nAsyncCollectionResult<StreamingResponseUpdate> responseUpdates\
              \ = client.CreateResponseStreamingAsync(userInputText, options);\n\n\
              await foreach (StreamingResponseUpdate responseUpdate in responseUpdates)\n\
              {\n    if (responseUpdate is StreamingResponseOutputTextDeltaUpdate\
              \ outputTextDeltaUpdate)\n    {\n        Console.Write(outputTextDeltaUpdate.Delta);\n\
              \    }\n}\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: 'event: response.created

            data: {"type":"response.created","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You
            are a helpful assistant.","max_output_tokens":null,"model":"gpt-4.1-2025-04-14","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.in_progress

            data: {"type":"response.in_progress","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"in_progress","error":null,"incomplete_details":null,"instructions":"You
            are a helpful assistant.","max_output_tokens":null,"model":"gpt-4.1-2025-04-14","output":[],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":null,"user":null,"metadata":{}}}


            event: response.output_item.added

            data: {"type":"response.output_item.added","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"in_progress","role":"assistant","content":[]}}


            event: response.content_part.added

            data: {"type":"response.content_part.added","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"","annotations":[]}}


            event: response.output_text.delta

            data: {"type":"response.output_text.delta","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"delta":"Hi"}


            ...


            event: response.output_text.done

            data: {"type":"response.output_text.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"text":"Hi
            there! How can I assist you today?"}


            event: response.content_part.done

            data: {"type":"response.content_part.done","item_id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","output_index":0,"content_index":0,"part":{"type":"output_text","text":"Hi
            there! How can I assist you today?","annotations":[]}}


            event: response.output_item.done

            data: {"type":"response.output_item.done","output_index":0,"item":{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi
            there! How can I assist you today?","annotations":[]}]}}


            event: response.completed

            data: {"type":"response.completed","response":{"id":"resp_67c9fdcecf488190bdd9a0409de3a1ec07b8b0ad4e5eb654","object":"response","created_at":1741290958,"status":"completed","error":null,"incomplete_details":null,"instructions":"You
            are a helpful assistant.","max_output_tokens":null,"model":"gpt-4.1-2025-04-14","output":[{"id":"msg_67c9fdcf37fc8190ba82116e33fb28c507b8b0ad4e5eb654","type":"message","status":"completed","role":"assistant","content":[{"type":"output_text","text":"Hi
            there! How can I assist you today?","annotations":[]}]}],"parallel_tool_calls":true,"previous_response_id":null,"reasoning":{"effort":null,"summary":null},"store":true,"temperature":1.0,"text":{"format":{"type":"text"}},"tool_choice":"auto","tools":[],"top_p":1.0,"truncation":"disabled","usage":{"input_tokens":37,"output_tokens":11,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":48},"user":null,"metadata":{}}}

            '
        - title: Functions
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"input\": \"What is\
              \ the weather like in Boston today?\",\n    \"tools\": [\n      {\n\
              \        \"type\": \"function\",\n        \"name\": \"get_current_weather\"\
              ,\n        \"description\": \"Get the current weather in a given location\"\
              ,\n        \"parameters\": {\n          \"type\": \"object\",\n    \
              \      \"properties\": {\n            \"location\": {\n            \
              \  \"type\": \"string\",\n              \"description\": \"The city\
              \ and state, e.g. San Francisco, CA\"\n            },\n            \"\
              unit\": {\n              \"type\": \"string\",\n              \"enum\"\
              : [\"celsius\", \"fahrenheit\"]\n            }\n          },\n     \
              \     \"required\": [\"location\", \"unit\"]\n        }\n      }\n \
              \   ],\n    \"tool_choice\": \"auto\"\n  }'\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nconst tools = [\n    {\n        type: \"function\",\n        name:\
              \ \"get_current_weather\",\n        description: \"Get the current weather\
              \ in a given location\",\n        parameters: {\n            type: \"\
              object\",\n            properties: {\n                location: {\n\
              \                    type: \"string\",\n                    description:\
              \ \"The city and state, e.g. San Francisco, CA\",\n                },\n\
              \                unit: { type: \"string\", enum: [\"celsius\", \"fahrenheit\"\
              ] },\n            },\n            required: [\"location\", \"unit\"\
              ],\n        },\n    },\n];\n\nconst response = await openai.responses.create({\n\
              \    model: \"gpt-4.1\",\n    tools: tools,\n    input: \"What is the\
              \ weather like in Boston today?\",\n    tool_choice: \"auto\",\n});\n\
              \nconsole.log(response);\n"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient\
              \ client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nResponseTool getCurrentWeatherFunctionTool\
              \ = ResponseTool.CreateFunctionTool(\n    functionName: \"get_current_weather\"\
              ,\n    functionDescription: \"Get the current weather in a given location\"\
              ,\n    functionParameters: BinaryData.FromString(\"\"\"\n        {\n\
              \            \"type\": \"object\",\n            \"properties\": {\n\
              \                \"location\": {\n                    \"type\": \"string\"\
              ,\n                    \"description\": \"The city and state, e.g. San\
              \ Francisco, CA\"\n                },\n                \"unit\": {\"\
              type\": \"string\", \"enum\": [\"celsius\", \"fahrenheit\"]}\n     \
              \       },\n            \"required\": [\"location\", \"unit\"]\n   \
              \     }\n        \"\"\"\n    )\n);\n\nstring userInputText = \"What\
              \ is the weather like in Boston today?\";\n\nResponseCreationOptions\
              \ options = new()\n{\n    Tools =\n    {\n        getCurrentWeatherFunctionTool\n\
              \    },\n    ToolChoice = ResponseToolChoice.CreateAutoChoice(),\n};\n\
              \nOpenAIResponse response = client.CreateResponse(userInputText, options);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ca09c5efe0819096d0511c92b8c890096610f474011cc0\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741294021,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"output\": [\n    {\n      \"type\": \"\
            function_call\",\n      \"id\": \"fc_67ca09c6bedc8190a7abfec07b1a1332096610f474011cc0\"\
            ,\n      \"call_id\": \"call_unLAR8MvFNptuiZK6K6HCy5k\",\n      \"name\"\
            : \"get_current_weather\",\n      \"arguments\": \"{\\\"location\\\":\\\
            \"Boston, MA\\\",\\\"unit\\\":\\\"celsius\\\"}\",\n      \"status\": \"\
            completed\"\n    }\n  ],\n  \"parallel_tool_calls\": true,\n  \"previous_response_id\"\
            : null,\n  \"reasoning\": {\n    \"effort\": null,\n    \"summary\": null\n\
            \  },\n  \"store\": true,\n  \"temperature\": 1.0,\n  \"text\": {\n  \
            \  \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"tool_choice\"\
            : \"auto\",\n  \"tools\": [\n    {\n      \"type\": \"function\",\n  \
            \    \"description\": \"Get the current weather in a given location\"\
            ,\n      \"name\": \"get_current_weather\",\n      \"parameters\": {\n\
            \        \"type\": \"object\",\n        \"properties\": {\n          \"\
            location\": {\n            \"type\": \"string\",\n            \"description\"\
            : \"The city and state, e.g. San Francisco, CA\"\n          },\n     \
            \     \"unit\": {\n            \"type\": \"string\",\n            \"enum\"\
            : [\n              \"celsius\",\n              \"fahrenheit\"\n      \
            \      ]\n          }\n        },\n        \"required\": [\n         \
            \ \"location\",\n          \"unit\"\n        ]\n      },\n      \"strict\"\
            : true\n    }\n  ],\n  \"top_p\": 1.0,\n  \"truncation\": \"disabled\"\
            ,\n  \"usage\": {\n    \"input_tokens\": 291,\n    \"output_tokens\":\
            \ 23,\n    \"output_tokens_details\": {\n      \"reasoning_tokens\": 0\n\
            \    },\n    \"total_tokens\": 314\n  },\n  \"user\": null,\n  \"metadata\"\
            : {}\n}\n"
        - title: Reasoning
          request:
            curl: "curl https://api.openai.com/v1/responses \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"o3-mini\",\n    \"input\": \"How much\
              \ wood would a woodchuck chuck?\",\n    \"reasoning\": {\n      \"effort\"\
              : \"high\"\n    }\n  }'\n"
            javascript: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nconst response = await openai.responses.create({\n    model: \"o3-mini\"\
              ,\n    input: \"How much wood would a woodchuck chuck?\",\n    reasoning:\
              \ {\n      effort: \"high\"\n    }\n});\n\nconsole.log(response);\n"
            python: "from openai import OpenAI\n\nclient = OpenAI(\n    api_key=\"\
              My API Key\",\n)\nresponse = client.responses.create()\nprint(response.id)"
            csharp: "using System;\nusing OpenAI.Responses;\n\nOpenAIResponseClient\
              \ client = new(\n    model: \"o3-mini\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nstring userInputText = \"How much wood would\
              \ a woodchuck chuck?\";\n\nResponseCreationOptions options = new()\n\
              {\n    ReasoningOptions = new()\n    {\n        ReasoningEffortLevel\
              \ = ResponseReasoningEffortLevel.High,\n    },\n};\n\nOpenAIResponse\
              \ response = client.CreateResponse(userInputText, options);\n\nConsole.WriteLine(response.GetOutputText());\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: 'My API Key',\n});\n\nconst response = await client.responses.create();\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n  \"context\"\n  \"fmt\"\n\n  \"github.com/openai/openai-go\"\
              \n  \"github.com/openai/openai-go/option\"\n  \"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n  client := openai.NewClient(\n    option.WithAPIKey(\"\
              My API Key\"),\n  )\n  response, err := client.Responses.New(context.TODO(),\
              \ responses.ResponseNewParams{\n\n  })\n  if err != nil {\n    panic(err.Error())\n\
              \  }\n  fmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseCreateParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().create();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.create


              puts(response)'
          response: "{\n  \"id\": \"resp_67ccd7eca01881908ff0b5146584e408072912b2993db808\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741477868,\n  \"status\"\
            : \"completed\",\n  \"error\": null,\n  \"incomplete_details\": null,\n\
            \  \"instructions\": null,\n  \"max_output_tokens\": null,\n  \"model\"\
            : \"o1-2024-12-17\",\n  \"output\": [\n    {\n      \"type\": \"message\"\
            ,\n      \"id\": \"msg_67ccd7f7b5848190a6f3e95d809f6b44072912b2993db808\"\
            ,\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n\
            \      \"content\": [\n        {\n          \"type\": \"output_text\"\
            ,\n          \"text\": \"The classic tongue twister...\",\n          \"\
            annotations\": []\n        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\"\
            : true,\n  \"previous_response_id\": null,\n  \"reasoning\": {\n    \"\
            effort\": \"high\",\n    \"summary\": null\n  },\n  \"store\": true,\n\
            \  \"temperature\": 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\"\
            : \"text\"\n    }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n\
            \  \"top_p\": 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n\
            \    \"input_tokens\": 81,\n    \"input_tokens_details\": {\n      \"\
            cached_tokens\": 0\n    },\n    \"output_tokens\": 1035,\n    \"output_tokens_details\"\
            : {\n      \"reasoning_tokens\": 832\n    },\n    \"total_tokens\": 1116\n\
            \  },\n  \"user\": null,\n  \"metadata\": {}\n}\n"
      description: 'Creates a model response. Provide [text](https://platform.openai.com/docs/guides/text)
        or

        [image](https://platform.openai.com/docs/guides/images) inputs to generate
        [text](https://platform.openai.com/docs/guides/text)

        or [JSON](https://platform.openai.com/docs/guides/structured-outputs) outputs.
        Have the model call

        your own [custom code](https://platform.openai.com/docs/guides/function-calling)
        or use built-in

        [tools](https://platform.openai.com/docs/guides/tools) like [web search](https://platform.openai.com/docs/guides/tools-web-search)

        or [file search](https://platform.openai.com/docs/guides/tools-file-search)
        to use your own data

        as input for the model''s response.

        '
components:
  schemas:
    CodeInterpreterTool:
      type: object
      title: Code interpreter
      description: 'A tool that runs Python code to help generate a response to a
        prompt.

        '
      properties:
        type:
          type: string
          enum:
          - code_interpreter
          description: 'The type of the code interpreter tool. Always `code_interpreter`.

            '
          x-stainless-const: true
        container:
          description: 'The code interpreter container. Can be a container ID or an
            object that

            specifies uploaded file IDs to make available to your code.

            '
          anyOf:
          - type: string
            description: The container ID.
          - $ref: '#/components/schemas/CodeInterpreterContainerAuto'
      required:
      - type
      - container
    CodeInterpreterToolCall:
      type: object
      title: Code interpreter tool call
      description: 'A tool call to run code.

        '
      properties:
        type:
          type: string
          enum:
          - code_interpreter_call
          default: code_interpreter_call
          x-stainless-const: true
          description: 'The type of the code interpreter tool call. Always `code_interpreter_call`.

            '
        id:
          type: string
          description: 'The unique ID of the code interpreter tool call.

            '
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          - interpreting
          - failed
          description: 'The status of the code interpreter tool call. Valid values
            are `in_progress`, `completed`, `incomplete`, `interpreting`, and `failed`.

            '
        container_id:
          type: string
          description: 'The ID of the container used to run the code.

            '
        code:
          anyOf:
          - type: string
            description: 'The code to run, or null if not available.

              '
          - type: 'null'
        outputs:
          anyOf:
          - type: array
            items:
              discriminator:
                propertyName: type
              anyOf:
              - $ref: '#/components/schemas/CodeInterpreterOutputLogs'
              - $ref: '#/components/schemas/CodeInterpreterOutputImage'
            discriminator:
              propertyName: type
            description: 'The outputs generated by the code interpreter, such as logs
              or images.

              Can be null if no outputs are available.

              '
          - type: 'null'
      required:
      - type
      - id
      - status
      - container_id
      - code
      - outputs
    ComparisonFilter:
      type: object
      additionalProperties: false
      title: Comparison Filter
      description: 'A filter used to compare a specified attribute key to a given
        value using a defined comparison operation.

        '
      properties:
        type:
          type: string
          default: eq
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          description: 'Specifies the comparison operator: `eq`, `ne`, `gt`, `gte`,
            `lt`, `lte`, `in`, `nin`.

            - `eq`: equals

            - `ne`: not equal

            - `gt`: greater than

            - `gte`: greater than or equal

            - `lt`: less than

            - `lte`: less than or equal

            - `in`: in

            - `nin`: not in

            '
        key:
          type: string
          description: The key to compare against the value.
        value:
          description: The value to compare against the attribute key; supports string,
            number, or boolean types.
          anyOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            items:
              $ref: '#/components/schemas/ComparisonFilterValueItems'
      required:
      - type
      - key
      - value
      x-oaiMeta:
        name: ComparisonFilter
    CompoundFilter:
      $recursiveAnchor: true
      type: object
      additionalProperties: false
      title: Compound Filter
      description: Combine multiple filters using `and` or `or`.
      properties:
        type:
          type: string
          description: 'Type of operation: `and` or `or`.'
          enum:
          - and
          - or
        filters:
          type: array
          description: Array of filters to combine. Items can be `ComparisonFilter`
            or `CompoundFilter`.
          items:
            discriminator:
              propertyName: type
            anyOf:
            - $ref: '#/components/schemas/ComparisonFilter'
            - $recursiveRef: '#'
      required:
      - type
      - filters
      x-oaiMeta:
        name: CompoundFilter
    ComputerAction:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/ClickParam'
      - $ref: '#/components/schemas/DoubleClickAction'
      - $ref: '#/components/schemas/Drag'
      - $ref: '#/components/schemas/KeyPressAction'
      - $ref: '#/components/schemas/Move'
      - $ref: '#/components/schemas/Screenshot'
      - $ref: '#/components/schemas/Scroll'
      - $ref: '#/components/schemas/Type'
      - $ref: '#/components/schemas/Wait'
    ComputerScreenshotImage:
      type: object
      description: 'A computer screenshot image used with the computer use tool.

        '
      properties:
        type:
          type: string
          enum:
          - computer_screenshot
          default: computer_screenshot
          description: "Specifies the event type. For a computer screenshot, this\
            \ property is \nalways set to `computer_screenshot`.\n"
          x-stainless-const: true
        image_url:
          type: string
          description: The URL of the screenshot image.
        file_id:
          type: string
          description: The identifier of an uploaded file that contains the screenshot.
      required:
      - type
    ComputerToolCall:
      type: object
      title: Computer tool call
      description: 'A tool call to a computer use tool. See the

        [computer use guide](https://platform.openai.com/docs/guides/tools-computer-use)
        for more information.

        '
      properties:
        type:
          type: string
          description: The type of the computer call. Always `computer_call`.
          enum:
          - computer_call
          default: computer_call
        id:
          type: string
          description: The unique ID of the computer call.
        call_id:
          type: string
          description: 'An identifier used when responding to the tool call with output.

            '
        action:
          $ref: '#/components/schemas/ComputerAction'
        pending_safety_checks:
          type: array
          items:
            $ref: '#/components/schemas/ComputerCallSafetyCheckParam'
          description: 'The pending safety checks for the computer call.

            '
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - id
      - action
      - call_id
      - pending_safety_checks
      - status
    ConversationParam:
      description: 'The conversation that this response belongs to. Items from this
        conversation are prepended to `input_items` for this response request.

        Input items and output items from this response are automatically added to
        this conversation after this response completes.

        '
      anyOf:
      - type: string
        title: Conversation ID
        description: 'The unique ID of the conversation.

          '
      - $ref: '#/components/schemas/ConversationParam-2'
    CreateModelResponseProperties:
      allOf:
      - $ref: '#/components/schemas/ModelResponseProperties'
      - type: object
        properties:
          top_logprobs:
            description: 'An integer between 0 and 20 specifying the number of most
              likely tokens to

              return at each token position, each with an associated log probability.

              '
            type: integer
            minimum: 0
            maximum: 20
    CreateResponse:
      allOf:
      - $ref: '#/components/schemas/CreateModelResponseProperties'
      - $ref: '#/components/schemas/ResponseProperties'
      - type: object
        properties:
          input:
            $ref: '#/components/schemas/InputParam'
          include:
            anyOf:
            - type: array
              description: 'Specify additional output data to include in the model
                response. Currently supported values are:

                - `web_search_call.action.sources`: Include the sources of the web
                search tool call.

                - `code_interpreter_call.outputs`: Includes the outputs of python
                code execution in code interpreter tool call items.

                - `computer_call_output.output.image_url`: Include image urls from
                the computer call output.

                - `file_search_call.results`: Include the search results of the file
                search tool call.

                - `message.input_image.image_url`: Include image urls from the input
                message.

                - `message.output_text.logprobs`: Include logprobs with assistant
                messages.

                - `reasoning.encrypted_content`: Includes an encrypted version of
                reasoning tokens in reasoning item outputs. This enables reasoning
                items to be used in multi-turn conversations when using the Responses
                API statelessly (like when the `store` parameter is set to `false`,
                or when an organization is enrolled in the zero data retention program).'
              items:
                $ref: '#/components/schemas/IncludeEnum'
            - type: 'null'
          parallel_tool_calls:
            anyOf:
            - type: boolean
              description: 'Whether to allow the model to run tool calls in parallel.

                '
              default: true
            - type: 'null'
          store:
            anyOf:
            - type: boolean
              description: 'Whether to store the generated model response for later
                retrieval via

                API.

                '
              default: true
            - type: 'null'
          instructions:
            anyOf:
            - type: string
              description: 'A system (or developer) message inserted into the model''s
                context.


                When using along with `previous_response_id`, the instructions from
                a previous

                response will not be carried over to the next response. This makes
                it simple

                to swap out system (or developer) messages in new responses.

                '
            - type: 'null'
          stream:
            anyOf:
            - description: 'If set to true, the model response data will be streamed
                to the client

                as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

                See the [Streaming section below](https://platform.openai.com/docs/api-reference/responses-streaming)

                for more information.

                '
              type: boolean
              default: false
            - type: 'null'
          stream_options:
            $ref: '#/components/schemas/ResponseStreamOptions'
          conversation:
            anyOf:
            - $ref: '#/components/schemas/ConversationParam'
            - type: 'null'
    CustomToolCall:
      type: object
      title: Custom tool call
      description: 'A call to a custom tool created by the model.

        '
      properties:
        type:
          type: string
          enum:
          - custom_tool_call
          x-stainless-const: true
          description: 'The type of the custom tool call. Always `custom_tool_call`.

            '
        id:
          type: string
          description: 'The unique ID of the custom tool call in the OpenAI platform.

            '
        call_id:
          type: string
          description: 'An identifier used to map this custom tool call to a tool
            call output.

            '
        name:
          type: string
          description: 'The name of the custom tool being called.

            '
        input:
          type: string
          description: 'The input for the custom tool call generated by the model.

            '
      required:
      - type
      - call_id
      - name
      - input
    CustomToolCallOutput:
      type: object
      title: Custom tool call output
      description: 'The output of a custom tool call from your code, being sent back
        to the model.

        '
      properties:
        type:
          type: string
          enum:
          - custom_tool_call_output
          x-stainless-const: true
          description: 'The type of the custom tool call output. Always `custom_tool_call_output`.

            '
        id:
          type: string
          description: 'The unique ID of the custom tool call output in the OpenAI
            platform.

            '
        call_id:
          type: string
          description: 'The call ID, used to map this custom tool call output to a
            custom tool call.

            '
        output:
          description: 'The output from the custom tool call generated by your code.

            Can be a string or an list of output content.

            '
          anyOf:
          - type: string
            description: 'A string of the output of the custom tool call.

              '
            title: string output
          - type: array
            items:
              $ref: '#/components/schemas/FunctionAndCustomToolCallOutput'
            title: output content list
            description: 'Text, image, or file output of the custom tool call.

              '
      required:
      - type
      - call_id
      - output
    Drag:
      type: object
      title: Drag
      description: 'A drag action.

        '
      properties:
        type:
          type: string
          enum:
          - drag
          default: drag
          description: "Specifies the event type. For a drag action, this property\
            \ is \nalways set to `drag`.\n"
          x-stainless-const: true
        path:
          type: array
          description: "An array of coordinates representing the path of the drag\
            \ action. Coordinates will appear as an array\nof objects, eg\n```\n[\n\
            \  { x: 100, y: 200 },\n  { x: 200, y: 300 }\n]\n```\n"
          items:
            $ref: '#/components/schemas/DragPoint'
      required:
      - type
      - path
    EasyInputMessage:
      type: object
      title: Input message
      description: 'A message input to the model with a role indicating instruction
        following

        hierarchy. Instructions given with the `developer` or `system` role take

        precedence over instructions given with the `user` role. Messages with the

        `assistant` role are presumed to have been generated by the model in previous

        interactions.

        '
      properties:
        role:
          type: string
          description: 'The role of the message input. One of `user`, `assistant`,
            `system`, or

            `developer`.

            '
          enum:
          - user
          - assistant
          - system
          - developer
        content:
          description: 'Text, image, or audio input to the model, used to generate
            a response.

            Can also contain previous assistant responses.

            '
          anyOf:
          - type: string
            title: Text input
            description: 'A text input to the model.

              '
          - $ref: '#/components/schemas/InputMessageContentList'
        type:
          type: string
          description: 'The type of the message input. Always `message`.

            '
          enum:
          - message
          x-stainless-const: true
      required:
      - role
      - content
    FilePath:
      type: object
      title: File path
      description: 'A path to a file.

        '
      properties:
        type:
          type: string
          description: 'The type of the file path. Always `file_path`.

            '
          enum:
          - file_path
          x-stainless-const: true
        file_id:
          type: string
          description: 'The ID of the file.

            '
        index:
          type: integer
          description: 'The index of the file in the list of files.

            '
      required:
      - type
      - file_id
      - index
    FileSearchToolCall:
      type: object
      title: File search tool call
      description: 'The results of a file search tool call. See the

        [file search guide](https://platform.openai.com/docs/guides/tools-file-search)
        for more information.

        '
      properties:
        id:
          type: string
          description: 'The unique ID of the file search tool call.

            '
        type:
          type: string
          enum:
          - file_search_call
          description: 'The type of the file search tool call. Always `file_search_call`.

            '
          x-stainless-const: true
        status:
          type: string
          description: 'The status of the file search tool call. One of `in_progress`,

            `searching`, `incomplete` or `failed`,

            '
          enum:
          - in_progress
          - searching
          - completed
          - incomplete
          - failed
        queries:
          type: array
          items:
            type: string
          description: 'The queries used to search for files.

            '
        results:
          anyOf:
          - type: array
            description: 'The results of the file search tool call.

              '
            items:
              type: object
              properties:
                file_id:
                  type: string
                  description: 'The unique ID of the file.

                    '
                text:
                  type: string
                  description: 'The text that was retrieved from the file.

                    '
                filename:
                  type: string
                  description: 'The name of the file.

                    '
                attributes:
                  $ref: '#/components/schemas/VectorStoreFileAttributes'
                score:
                  type: number
                  format: float
                  description: 'The relevance score of the file - a value between
                    0 and 1.

                    '
          - type: 'null'
      required:
      - id
      - type
      - status
      - queries
    FunctionAndCustomToolCallOutput:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
    FunctionToolCall:
      type: object
      title: Function tool call
      description: "A tool call to run a function. See the \n[function calling guide](https://platform.openai.com/docs/guides/function-calling)\
        \ for more information.\n"
      properties:
        id:
          type: string
          description: 'The unique ID of the function tool call.

            '
        type:
          type: string
          enum:
          - function_call
          description: 'The type of the function tool call. Always `function_call`.

            '
          x-stainless-const: true
        call_id:
          type: string
          description: 'The unique ID of the function tool call generated by the model.

            '
        name:
          type: string
          description: 'The name of the function to run.

            '
        arguments:
          type: string
          description: 'A JSON string of the arguments to pass to the function.

            '
        status:
          type: string
          description: 'The status of the item. One of `in_progress`, `completed`,
            or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
      required:
      - type
      - call_id
      - name
      - arguments
    ImageGenTool:
      type: object
      title: Image generation tool
      description: 'A tool that generates images using a model like `gpt-image-1`.

        '
      properties:
        type:
          type: string
          enum:
          - image_generation
          description: 'The type of the image generation tool. Always `image_generation`.

            '
          x-stainless-const: true
        model:
          type: string
          enum:
          - gpt-image-1
          - gpt-image-1-mini
          description: 'The image generation model to use. Default: `gpt-image-1`.

            '
          default: gpt-image-1
        quality:
          type: string
          enum:
          - low
          - medium
          - high
          - auto
          description: 'The quality of the generated image. One of `low`, `medium`,
            `high`,

            or `auto`. Default: `auto`.

            '
          default: auto
        size:
          type: string
          enum:
          - 1024x1024
          - 1024x1536
          - 1536x1024
          - auto
          description: 'The size of the generated image. One of `1024x1024`, `1024x1536`,

            `1536x1024`, or `auto`. Default: `auto`.

            '
          default: auto
        output_format:
          type: string
          enum:
          - png
          - webp
          - jpeg
          description: 'The output format of the generated image. One of `png`, `webp`,
            or

            `jpeg`. Default: `png`.

            '
          default: png
        output_compression:
          type: integer
          minimum: 0
          maximum: 100
          description: 'Compression level for the output image. Default: 100.

            '
          default: 100
        moderation:
          type: string
          enum:
          - auto
          - low
          description: 'Moderation level for the generated image. Default: `auto`.

            '
          default: auto
        background:
          type: string
          enum:
          - transparent
          - opaque
          - auto
          description: 'Background type for the generated image. One of `transparent`,

            `opaque`, or `auto`. Default: `auto`.

            '
          default: auto
        input_fidelity:
          anyOf:
          - $ref: '#/components/schemas/InputFidelity'
          - type: 'null'
        input_image_mask:
          type: object
          description: 'Optional mask for inpainting. Contains `image_url`

            (string, optional) and `file_id` (string, optional).

            '
          properties:
            image_url:
              type: string
              description: 'Base64-encoded mask image.

                '
            file_id:
              type: string
              description: 'File ID for the mask image.

                '
          required: []
          additionalProperties: false
        partial_images:
          type: integer
          minimum: 0
          maximum: 3
          description: 'Number of partial images to generate in streaming mode, from
            0 (default value) to 3.

            '
          default: 0
      required:
      - type
    ImageGenToolCall:
      type: object
      title: Image generation call
      description: 'An image generation request made by the model.

        '
      properties:
        type:
          type: string
          enum:
          - image_generation_call
          description: 'The type of the image generation call. Always `image_generation_call`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the image generation call.

            '
        status:
          type: string
          enum:
          - in_progress
          - completed
          - generating
          - failed
          description: 'The status of the image generation call.

            '
        result:
          anyOf:
          - type: string
            description: 'The generated image encoded in base64.

              '
          - type: 'null'
      required:
      - type
      - id
      - status
      - result
    InputContent:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/InputTextContent'
      - $ref: '#/components/schemas/InputImageContent'
      - $ref: '#/components/schemas/InputFileContent'
    InputItem:
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/EasyInputMessage'
      - type: object
        title: Item
        description: 'An item representing part of the context for the response to
          be

          generated by the model. Can contain text, images, and audio inputs,

          as well as previous assistant responses and tool call outputs.

          '
        $ref: '#/components/schemas/Item'
      - $ref: '#/components/schemas/ItemReferenceParam'
    InputMessage:
      type: object
      title: Input message
      description: 'A message input to the model with a role indicating instruction
        following

        hierarchy. Instructions given with the `developer` or `system` role take

        precedence over instructions given with the `user` role.

        '
      properties:
        type:
          type: string
          description: 'The type of the message input. Always set to `message`.

            '
          enum:
          - message
          x-stainless-const: true
        role:
          type: string
          description: 'The role of the message input. One of `user`, `system`, or
            `developer`.

            '
          enum:
          - user
          - system
          - developer
        status:
          type: string
          description: 'The status of item. One of `in_progress`, `completed`, or

            `incomplete`. Populated when items are returned via API.

            '
          enum:
          - in_progress
          - completed
          - incomplete
        content:
          $ref: '#/components/schemas/InputMessageContentList'
      required:
      - role
      - content
    InputMessageContentList:
      type: array
      title: Input item content list
      description: "A list of one or many input items to the model, containing different\
        \ content \ntypes.\n"
      items:
        $ref: '#/components/schemas/InputContent'
    InputParam:
      description: 'Text, image, or file inputs to the model, used to generate a response.


        Learn more:

        - [Text inputs and outputs](https://platform.openai.com/docs/guides/text)

        - [Image inputs](https://platform.openai.com/docs/guides/images)

        - [File inputs](https://platform.openai.com/docs/guides/pdf-files)

        - [Conversation state](https://platform.openai.com/docs/guides/conversation-state)

        - [Function calling](https://platform.openai.com/docs/guides/function-calling)

        '
      anyOf:
      - type: string
        title: Text input
        description: 'A text input to the model, equivalent to a text input with the

          `user` role.

          '
      - type: array
        title: Input item list
        description: 'A list of one or many input items to the model, containing

          different content types.

          '
        items:
          $ref: '#/components/schemas/InputItem'
    Item:
      type: object
      description: 'Content item used to generate a response.

        '
      discriminator:
        propertyName: type
      anyOf:
      - $ref: '#/components/schemas/InputMessage'
      - $ref: '#/components/schemas/OutputMessage'
      - $ref: '#/components/schemas/FileSearchToolCall'
      - $ref: '#/components/schemas/ComputerToolCall'
      - $ref: '#/components/schemas/ComputerCallOutputItemParam'
      - $ref: '#/components/schemas/WebSearchToolCall'
      - $ref: '#/components/schemas/FunctionToolCall'
      - $ref: '#/components/schemas/FunctionCallOutputItemParam'
      - $ref: '#/components/schemas/ReasoningItem'
      - $ref: '#/components/schemas/ImageGenToolCall'
      - $ref: '#/components/schemas/CodeInterpreterToolCall'
      - $ref: '#/components/schemas/LocalShellToolCall'
      - $ref: '#/components/schemas/LocalShellToolCallOutput'
      - $ref: '#/components/schemas/FunctionShellCallItemParam'
      - $ref: '#/components/schemas/FunctionShellCallOutputItemParam'
      - $ref: '#/components/schemas/ApplyPatchToolCallItemParam'
      - $ref: '#/components/schemas/ApplyPatchToolCallOutputItemParam'
      - $ref: '#/components/schemas/MCPListTools'
      - $ref: '#/components/schemas/MCPApprovalRequest'
      - $ref: '#/components/schemas/MCPApprovalResponse'
      - $ref: '#/components/schemas/MCPToolCall'
      - $ref: '#/components/schemas/CustomToolCallOutput'
      - $ref: '#/components/schemas/CustomToolCall'
    LocalShellToolCall:
      type: object
      title: Local shell call
      description: 'A tool call to run a command on the local shell.

        '
      properties:
        type:
          type: string
          enum:
          - local_shell_call
          description: 'The type of the local shell call. Always `local_shell_call`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the local shell call.

            '
        call_id:
          type: string
          description: 'The unique ID of the local shell tool call generated by the
            model.

            '
        action:
          $ref: '#/components/schemas/LocalShellExecAction'
        status:
          type: string
          enum:
          - in_progress
          - completed
          - incomplete
          description: 'The status of the local shell call.

            '
      required:
      - type
      - id
      - call_id
      - action
      - status
    LocalShellToolCallOutput:
      type: object
      title: Local shell call output
      description: 'The output of a local shell tool call.

        '
      properties:
        type:
          type: string
          enum:
          - local_shell_call_output
          description: 'The type of the local shell tool call output. Always `local_shell_call_output`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the local shell tool call generated by the
            model.

            '
        output:
          type: string
          description: 'A JSON string of the output of the local shell tool call.

            '
        status:
          anyOf:
          - type: string
            enum:
            - in_progress
            - completed
            - incomplete
            description: 'The status of the item. One of `in_progress`, `completed`,
              or `incomplete`.

              '
          - type: 'null'
      required:
      - id
      - type
      - call_id
      - output
    MCPApprovalRequest:
      type: object
      title: MCP approval request
      description: 'A request for human approval of a tool invocation.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_approval_request
          description: 'The type of the item. Always `mcp_approval_request`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the approval request.

            '
        server_label:
          type: string
          description: 'The label of the MCP server making the request.

            '
        name:
          type: string
          description: 'The name of the tool to run.

            '
        arguments:
          type: string
          description: 'A JSON string of arguments for the tool.

            '
      required:
      - type
      - id
      - server_label
      - name
      - arguments
    MCPApprovalResponse:
      type: object
      title: MCP approval response
      description: 'A response to an MCP approval request.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_approval_response
          description: 'The type of the item. Always `mcp_approval_response`.

            '
          x-stainless-const: true
        id:
          anyOf:
          - type: string
            description: 'The unique ID of the approval response

              '
          - type: 'null'
        approval_request_id:
          type: string
          description: 'The ID of the approval request being answered.

            '
        approve:
          type: boolean
          description: 'Whether the request was approved.

            '
        reason:
          anyOf:
          - type: string
            description: 'Optional reason for the decision.

              '
          - type: 'null'
      required:
      - type
      - request_id
      - approve
      - approval_request_id
    MCPListTools:
      type: object
      title: MCP list tools
      description: 'A list of tools available on an MCP server.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_list_tools
          description: 'The type of the item. Always `mcp_list_tools`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the list.

            '
        server_label:
          type: string
          description: 'The label of the MCP server.

            '
        tools:
          type: array
          items:
            $ref: '#/components/schemas/MCPListToolsTool'
          description: 'The tools available on the server.

            '
        error:
          anyOf:
          - type: string
            description: 'Error message if the server could not list tools.

              '
          - type: 'null'
      required:
      - type
      - id
      - server_label
      - tools
    MCPListToolsTool:
      type: object
      title: MCP list tools tool
      description: 'A tool available on an MCP server.

        '
      properties:
        name:
          type: string
          description: 'The name of the tool.

            '
        description:
          anyOf:
          - type: string
            description: 'The description of the tool.

              '
          - type: 'null'
        input_schema:
          type: object
          description: 'The JSON schema describing the tool''s input.

            '
        annotations:
          anyOf:
          - type: object
            description: 'Additional annotations about the tool.

              '
          - type: 'null'
      required:
      - name
      - input_schema
    MCPTool:
      type: object
      title: MCP tool
      description: 'Give the model access to additional tools via remote Model Context
        Protocol

        (MCP) servers. [Learn more about MCP](https://platform.openai.com/docs/guides/tools-remote-mcp).

        '
      properties:
        type:
          type: string
          enum:
          - mcp
          description: The type of the MCP tool. Always `mcp`.
          x-stainless-const: true
        server_label:
          type: string
          description: 'A label for this MCP server, used to identify it in tool calls.

            '
        server_url:
          type: string
          description: 'The URL for the MCP server. One of `server_url` or `connector_id`
            must be

            provided.

            '
        connector_id:
          type: string
          enum:
          - connector_dropbox
          - connector_gmail
          - connector_googlecalendar
          - connector_googledrive
          - connector_microsoftteams
          - connector_outlookcalendar
          - connector_outlookemail
          - connector_sharepoint
          description: 'Identifier for service connectors, like those available in
            ChatGPT. One of

            `server_url` or `connector_id` must be provided. Learn more about service

            connectors [here](https://platform.openai.com/docs/guides/tools-remote-mcp#connectors).


            Currently supported `connector_id` values are:


            - Dropbox: `connector_dropbox`

            - Gmail: `connector_gmail`

            - Google Calendar: `connector_googlecalendar`

            - Google Drive: `connector_googledrive`

            - Microsoft Teams: `connector_microsoftteams`

            - Outlook Calendar: `connector_outlookcalendar`

            - Outlook Email: `connector_outlookemail`

            - SharePoint: `connector_sharepoint`

            '
        authorization:
          type: string
          description: 'An OAuth access token that can be used with a remote MCP server,
            either

            with a custom MCP server URL or a service connector. Your application

            must handle the OAuth authorization flow and provide the token here.

            '
        server_description:
          type: string
          description: 'Optional description of the MCP server, used to provide more
            context.

            '
        headers:
          anyOf:
          - type: object
            additionalProperties:
              type: string
            description: 'Optional HTTP headers to send to the MCP server. Use for
              authentication

              or other purposes.

              '
          - type: 'null'
        allowed_tools:
          anyOf:
          - description: 'List of allowed tool names or a filter object.

              '
            anyOf:
            - type: array
              title: MCP allowed tools
              description: A string array of allowed tool names
              items:
                type: string
            - $ref: '#/components/schemas/MCPToolFilter'
          - type: 'null'
        require_approval:
          anyOf:
          - description: Specify which of the MCP server's tools require approval.
            default: always
            anyOf:
            - type: object
              title: MCP tool approval filter
              description: 'Specify which of the MCP server''s tools require approval.
                Can be

                `always`, `never`, or a filter object associated with tools

                that require approval.

                '
              properties:
                always:
                  $ref: '#/components/schemas/MCPToolFilter'
                never:
                  $ref: '#/components/schemas/MCPToolFilter'
              additionalProperties: false
            - type: string
              title: MCP tool approval setting
              description: 'Specify a single approval policy for all tools. One of
                `always` or

                `never`. When set to `always`, all tools will require approval. When

                set to `never`, all tools will not require approval.

                '
              enum:
              - always
              - never
          - type: 'null'
      required:
      - type
      - server_label
    MCPToolCall:
      type: object
      title: MCP tool call
      description: 'An invocation of a tool on an MCP server.

        '
      properties:
        type:
          type: string
          enum:
          - mcp_call
          description: 'The type of the item. Always `mcp_call`.

            '
          x-stainless-const: true
        id:
          type: string
          description: 'The unique ID of the tool call.

            '
        server_label:
          type: string
          description: 'The label of the MCP server running the tool.

            '
        name:
          type: string
          description: 'The name of the tool that was run.

            '
        arguments:
          type: string
          description: 'A JSON string of the arguments passed to the tool.

            '
        output:
          anyOf:
          - type: string
            description: 'The output from the tool call.

              '
          - type: 'null'
        error:
          anyOf:
          - type: string
            description: 'The error from the tool call, if any.

              '
          - type: 'null'
        status:
          $ref: '#/components/schemas/MCPToolCallStatus'
          description: 'The status of the tool call. One of `in_progress`, `completed`,
            `incomplete`, `calling`, or `failed`.

            '
        approval_request_id:
          anyOf:
          - type: string
            description: 'Unique identifier for the MCP tool call approval request.

              Include this value in a subsequent `mcp_approval_response` input to
              approve or reject the corresponding tool call.

              '
          - type: 'null'
      required:
      - type
      - id
      - server_label
      - name
      - arguments
    MCPToolFilter:
      type: object
      title: MCP tool filter
      description: 'A filter object to specify which tools are allowed.

        '
      properties:
        tool_names:
          type: array
          title: MCP allowed tools
          items:
            type: string
          description: List of allowed tool names.
        read_only:
          type: boolean
          description: 'Indicates whether or not a tool modifies data or is read-only.
            If an

            MCP server is [annotated with `readOnlyHint`](https://modelcontextprotocol.io/specification/2025-06-18/schema#toolannotations-readonlyhint),

            it will match this filter.

            '
      required: []
      additionalProperties: false
    Metadata:
      anyOf:
      - type: object
        description: 'Set of 16 key-value pairs that can be attached to an object.
          This can be

          useful for storing additional information about the object in a structured

          format, and querying for objects via API or the dashboard.


          Keys are strings with a maximum length of 64 characters. Values are strings

          with a maximum length of 512 characters.

          '
        additionalProperties:
          type: string
        x-oaiTypeLabel: map
      - type: 'null'
    ModelIdsResponses:
      example: gpt-4o
      anyOf:
      - $ref: '#/components/schemas/ModelIdsShared'
      - type: string
        title: ResponsesOnlyModel
        enum:
        - o1-pro
        - o1-pro-2025-03-19
        - o3-pro
        - o3-pro-2025-06-10
        - o3-deep-research
        - o3-deep-research-2025-06-26
        - o4-mini-deep-research
        - o4-mini-deep-research-2025-06-26
        - computer-use-preview
        - computer-use-preview-2025-03-11
        - gpt-5-codex
        - gpt-5-pro
        - gpt-5-pro-2025-10-06
    ModelIdsShared:
      example: gpt-4o
      anyOf:
      - type: string
      - $ref: '#/components/schemas/ChatModel'
    ModelResponseProperties:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        top_logprobs:
          anyOf:
          - description: 'An integer between 0 and 20 specifying the number of most
              likely tokens to

              return at each token position, each with an associated log probability.

              '
            type: integer
            minimum: 0
            maximum: 20
          - type: 'null'
        temperature:
          anyOf:
          - type: number
            minimum: 0
            maximum: 2
            default: 1
            example: 1
            description: 'What sampling temperature to use, between 0 and 2. Higher
              values like 0.8 will make the output more random, while lower values
              like 0.2 will make it more focused and deterministic.

              We generally recommend altering this or `top_p` but not both.

[...]
